page-home{
.content-md {

    background-color: #3E4E59;

    .item-md{
        background-color: transparent;
        input{
            text-align: center;
            color: white;
        }
    }

}
}