page-menu {

    .button{
        height: 20%;
        font-size: 4rem;
        img{
            height: 60%;
        }
    }
    #btn-horta{
        background-color: #489C85;
    }
    #btn-acesso{
        background-color: #B54A37;
    }

}
